<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <connectionStrings>
    <add name="housdbString" connectionString="Data Source=DB195;Initial Catalog=TDB;User ID=CreditAdmin;password=ncms@36" providerName="System.Data.SqlClient"/>
    <add name="TestOld" connectionString="Data Source=DB195;Initial Catalog=TDBOld;User ID=CreditAdmin;password=ncms@36" providerName="System.Data.SqlClient"/>
    <add name="testhousdbString" connectionString="Data Source=DB195;Initial Catalog=housdb;User ID=sa;password=nsbcredit" providerName="System.Data.SqlClient"/>
    <add name="oldhousdbString" connectionString="Data Source=DB195;Initial Catalog=housdb;User ID=CreditAdmin;password=ncms@36" providerName="System.Data.SqlClient"/>
    <add name="reporTString" connectionString="Data Source=DB195;Initial Catalog=CreditReportsDb;User ID=reportuser;password=ncms@36" providerName="System.Data.SqlClient"/>
    <add name="reporTStringBranch" connectionString="Data Source=CREDITBRDB;Initial Catalog=CreditReportsDb;User ID=reportuser;password=ncms@36" providerName="System.Data.SqlClient"/>
    <add name="reportCAString" connectionString="Data Source=DB195;Initial Catalog=CreditReportsDb;User ID=CreditAdmin;password=ncms@36" providerName="System.Data.SqlClient"/>
    <add name="crmastString" connectionString="Data Source=DB195;Initial Catalog=CrMast;User ID=CreditAdmin;password=ncms@36" providerName="System.Data.SqlClient"/>
    <add name="tdbprevious" connectionString="Data Source=DB195;Initial Catalog=TDB01102009;User ID=CreditAdmin;password=ncms@36" providerName="System.Data.SqlClient"/>
    <add name="TDBBranchesConString" connectionString="Data Source=CREDITBRDB;Initial Catalog=TDBBranches;User ID=CreditAdmin;password=ncms@36" providerName="System.Data.SqlClient"/>
    <add name="informixdbString" connectionString="DRIVER=IBM INFORMIX ODBC DRIVER;UID=lia;PWD=lia@234;PRO=sesoctcp;SERV=sqlexec;SRVR=sensb;HOST=10.1.52.30;DATABASE=/liadata/liability"/>
    <add name="postaldbString" connectionString="DRIVER=IBM INFORMIX ODBC DRIVER;UID=conusr;PWD=conusr;PRO=sesoctcp;SERV=sqlexec;SRVR=sensb;HOST=10.1.1.120;DATABASE=/psvbank/nsbdpu"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--
        Set compilation debug="true" to insert debugging
        symbols into the compiled page. Because this
        affects performance, set this value to true only 
        during development.
     -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!--<add assembly="VsWebSite.Interop, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Windows.Forms, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" name="3345C" timeout="10"/>
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.-->
    <customErrors defaultRedirect="GenericErrorPage.htm" mode="Off">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <!--
      <anonymousIdentification enabled="true"/>
      <trust level="Medium" />
      -->
    <profile enabled="true">
      <properties>
        <add name="ValidationType" defaultValue=""/>
        <add name="ValicationParameter" defaultValue=""/>
        <add name="orgn"/>
        <add name="address"/>
        <add name="designation"/>
        <add name="telephone"/>
        <add name="recno" defaultValue=""/>
        <add name="emp" defaultValue=""/>
        <add name="nicno" defaultValue=""/>
        <add name="userid"/>
        <add name="branch"/>
        <add name="brcode"/>
      </properties>
    </profile>
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <pages theme="LoanSkins" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <!--<add key="WSsmsGateWay.service" value="http://ctpsapp/wssmsgateway/service.asmx"/>-->
      <add key="CressWebScore.cressRating" value="http://10.1.45.200/cressService"/>
      <add key="WebSMSOld.Service" value="http://ctpsapp/WSSMSGateWayOld/Service.asmx"/>
      <add key="CressWeb.cressRating" value="http://10.1.45.200/cressService"/>
      <!--<add key="WSMSGatewayNewOne.service" value="http://ctpsapp/wssmsgatewaynew/service.asmx"/>-->
      <add key="SendSMSNew.service" value="http://ctpsapp/WSSMSGateWayEpic/service.asmx"/>
      <add key="CrystalImageCleaner-AutoStart" value="true"/>
      <add key="CrystalImageCleaner-Sleep" value="60000"/>
      <add key="CrystalImageCleaner-Age" value="120000"/>
    </appSettings>
  </location>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>